In [4]:
from vnstock import *

In [8]:
data = listing_companies(live=True)
data

,ticker,organName,organTypeCode,comGroupCode
0,A32,CTCP 32,1,UPCOM
1,AAA,CTCP Nhựa An Phát Xanh,1,HOSE
2,AAH,CTCP Hợp Nhất,1,UPCOM
3,AAM,CTCP Thủy sản MeKong,1,HOSE
4,AAS,CTCP Chứng khoán SmartInvest,4,UPCOM
...,...,...,...,...
1747,YBC,CTCP Xi măng và Khoáng sản Yên Bái,1,UPCOM
1748,YBM,CTCP Khoáng sản Công nghiệp Yên Bái,1,HOSE
1749,YEG,CTCP Tập đoàn Yeah1,1,HOSE
1750,YSVN,Công ty TNHH Chứng khoán Yuanta Việt Nam,4,OTC
1751,YTC,CTCP Xuất nhập khẩu Y tế Thành phố Hồ Chí Minh,1,UPCOM

In [6]:
hose_companies = data[data['comGroupCode'] == 'HOSE']

In [9]:
print(hose_companies)

     ticker                            organName  organTypeCode comGroupCode
1       AAA               CTCP Nhựa An Phát Xanh              1         HOSE
3       AAM                 CTCP Thủy sản MeKong              1         HOSE
5       AAT     CTCP Tập Đoàn Tiên Sơn Thanh Hóa              1         HOSE
10      ABR           CTCP Đầu tư Nhãn hiệu Việt              1         HOSE
11      ABS  CTCP Dịch vụ Nông nghiệp Bình Thuận              1         HOSE
...     ...                                  ...            ...          ...
1703    VTB            CTCP Viettronics Tân Bình              1         HOSE
1714    VTO         CTCP Vận tải Xăng dầu Vitaco              1         HOSE
1715    VTP          Tổng CTCP Bưu chính Viettel              1         HOSE
1748    YBM  CTCP Khoáng sản Công nghiệp Yên Bái              1         HOSE
1749    YEG                  CTCP Tập đoàn Yeah1              1         HOSE

[398 rows x 4 columns]

In [12]:
data.to_csv('data.csv', index = False)

In [13]:
import datetime
today = datetime.date.today()