In [11]:
import numpy as np #For algebrical operations.
import pandas as pd # For EDA purposes.
import seaborn as sns # For Datavisuals
import matplotlib.pyplot as plt #For Data visuals

In [12]:
data = pd.read_csv("VIC.csv")

In [13]:
data.head()

         Ngày Lần cuối      Mở     Cao    Thấp     KL % Thay đổi
0  16/05/2024   46,750  46,150  48,200  45,600  2.78M      0.86%
1  15/05/2024   46,350  46,500  48,050  46,050  1.36M      0.65%
2  14/05/2024   46,050  45,550  48,150  45,000  5.26M      2.22%
3  13/05/2024   45,050  45,000  45,500  44,100  1.17M      0.11%
4  10/05/2024   45,000  45,400  46,150  44,400  1.17M     -0.88%

In [14]:
data.describe()

              Ngày Lần cuối      Mở     Cao    Thấp     KL % Thay đổi
count         2709     2709    2709    2709    2709   2709       2709
unique        2709     1134    1146    1187    1152   1628        711
top     16/05/2024   34,711  35,549  34,213  33,678  1.22M      0.00%
freq             1       25      16      18      22     14        391

In [15]:
new_col = {
    'Ngày': 'date',
    'Lần cuối': 'close',
    'Mở': 'open',
    'Cao': 'high',
    'Thấp': 'low',
    'KL': 'volume',
    '% Thay đổi': 'change',
}

In [16]:
data.rename(columns=new_col, inplace=True)

In [17]:
new_type = {
    'date': 'datetime64',
    'close': 'float64',
    'open': 'float64',
    'high': 'float64',
    'low': 'float64',
}

In [18]:
# data.astype(new_type).dtypes

In [19]:
def convert_to_float(value):
    value = value.replace(',', '.')
    
    if 'M' in value:
        return float(value.replace('M', '')) * 1_000_000
    elif 'K' in value:
        return float(value.replace('K', '')) * 1_000
    elif '%' in value:
        return float(value.replace('%', '')) / 100
    elif '/' in value:
        return pd.to_datetime(value, format='%d/%m/%Y')
    else:
        return float(value)

In [20]:
for col in data.columns:
    data[col] = data[col].apply(convert_to_float)

In [22]:
data.head()

        date  close   open   high    low     volume  change
0 2024-05-16  46.75  46.15  48.20  45.60  2780000.0  0.0086
1 2024-05-15  46.35  46.50  48.05  46.05  1360000.0  0.0065
2 2024-05-14  46.05  45.55  48.15  45.00  5260000.0  0.0222
3 2024-05-13  45.05  45.00  45.50  44.10  1170000.0  0.0011
4 2024-05-10  45.00  45.40  46.15  44.40  1170000.0 -0.0088